---
layout: archive
permalink: /archive/tag/
title: "Posts by Tag"
author_profile: true
---

<div class="tag__list sticky">
{% assign sorted_tags = (site.tags | sort:0) %}
{% for tag in sorted_tags %}
    <a href="#{{ tag | first | slugify }}" class="btn">{{ tag | first }} <small>({{ tag | last | size }})</small></a>
{% endfor %}
</div>

{% include group-by-array collection=site.posts field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{% icon fa-tag %} {{ tag }} <small><a href="/tag/{{ tag | slugify }}/" class="btn btn--inverse btn--small">view all</a></small></h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}