<div class="sidebar sticky trip-stats">
    <h3>Tying Materials</h3>

    {% if page.materials.hook %}
    <h6>Hook <small>{{ page.materials.hook }}</small></h6>
    {% endif %}

    {% if page.materials.bead %}
    <h6>Bead <small>{{ page.materials.bead }}</small></h6>
    {% endif %}

    {% if page.materials.thread %}
    <h6>Thread <small>{{ page.materials.thread }}</small></h6>
    {% endif %}

    {% if page.materials.tail %}
    <h6>Tail <small>{{ page.materials.tail }}</small></h6>
    {% endif %}

    {% if page.materials.abdomen %}
    <h6>Abdomen <small>{{ page.materials.abdomen }}</small></h6>
    {% endif %}

    {% if page.materials.rib %}
    <h6>Rib <small>{{ page.materials.rib }}</small></h6>
    {% endif %}

    {% if page.materials.wing %}
    <h6>Wing <small>{{ page.materials.wing }}</small></h6>
    {% endif %}

    {% if page.materials.wing_case %}
    <h6>Wing <small>{{ page.materials.wing_case }}</small></h6>
    {% endif %}

    {% if page.materials.Thorax %}
    <h6>Thorax <small>{{ page.materials.Thorax }}</small></h6>
    {% endif %}

    {% if page.materials.Hackle %}
    <h6>Hackle <small>{{ page.materials.Hackle }}</small></h6>
    {% endif %}

    {% if page.materials.legs %}
    <h6>Legs <small>{{ page.materials.legs }}</small></h6>
    {% endif %}

    {% if page.materials.head %}
    <h6>Head <small>{{ page.materials.head }}</small></h6>
    {% endif %}
</div>