.page__scroll-to-top {
    display: none;
    position: fixed;
    right: 18px;
    bottom: 95px;

    .scroll-to-top {
        text-decoration: none;
    }
}

.page__footer-links {
    margin-bottom: 1rem;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        display: block;
        font-family: $sans-serif-narrow;
        font-size: $type-size-8;
        padding-left: 5px;
    }
}